<launch>
    <!-- Arguments -->
    <arg name="model" default="camco" doc="Model name (name of the XACRO file without extension)" />
    <arg name="rviz_config" default="camco_description" doc="Name (without extension) of RViZ configuration file in 'rviz' folder" />
    <arg name="use_gui" default="false" doc="true or false, if you want GUI" />

    <!-- Parameters on the ROS parameter server -->
    <param name="robot_description" command="xacro $(find camco_description)/urdf/$(arg model).urdf.xacro" />
    <param name="use_gui" value="$(arg use_gui)" />

    <!-- Nodes to be launched -->
    <!-- RViZ node -->
    <node name="rviz2" type="rviz" pkg="rviz2" args="-d $(find camco_description)/rviz/$(arg rviz_config).rviz" required="true" />
    <!-- Joint state and robot state publishers -->
    <node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher" />
    <node name="robot_state_publisher" type="robot_state_publisher" pkg="robot_state_publisher" />
</launch>