@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #0e3441, #427581);
    background-image: url('backgrounds/mission-background.png');
    background-size: fill; /* Cover the entire viewport */
  }
  
  .container {
    position: relative;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
  }
  
  .content-wrapper {
    position: relative;
    top: 10px; 
    left: 60%; 
    transform: translateX(-20%); 
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    color: #020202;
    margin-bottom: 20px;
    /* background: #e6e7e7; */
    width: 800px;
    height: 60px;
    /* border: 10px solid #e6e7e7; */
    left: 50%; /* Center horizontally */
    transform: translateX(-1.25%); /* Center horizontally */
  }
  
  #map-container {
    position: absolute;
    top: 60px; /* Adjust the distance from the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    width: 800px;
    height: 600px;
    border: 10px solid #adadad;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
  }

  li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
  }

  button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #edf0f1;
    text-decoration: none;
  }

  .top-bar {
    background-color: #24252A;
    padding: 10px 90px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .navbar-logo img {
    height: 30px; /* Adjust the height to fit your navbar's height */
    width: auto; /* Maintains the aspect ratio */
  } 
  
  .logo {
    cursor: pointer;
    transform: scale(2);
  }

  .nav_links{
    list-style: none;
  }

  .nav_links li{
    display: inline-block;
    padding: 0px 20px;
  }

  .nav_links li a{
    transition: all 0.3s ease 0s;
  }

  .nav_links li a:hover{
    color: #0088a9;
  }

  a button {
    padding: 9px 25px;
    width: 150px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
  }

  a button:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }

  /* Style for main content */
  .bar-content {
    padding: 20px;
  }
  
  .container_menu {
    position: absolute;
    width: 300px;
    margin: auto;
    /* background: linear-gradient(180deg, #8b8b8b, #ffffff 20%); */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    top: 20%;
    left: 15%;
  }

  .container_menu::before { /* Pseudo-element for the horizontal line */
    content: ''; /* Necessary for pseudo-elements */
    position: absolute;
    left: 0;
    right: 0;
    top: 22%; /* Position at 25% of the container's height */
    border-top: 3px solid #8b8b8b; /* The actual line, set the color as needed */
  }
  
  h2 {
    text-align: center;
    color: #333;    
  }

  h1 {
    text-align: center;
    color: #333;
    
  }
  
  .selection-container {
    display: flex;
    flex-direction: column;
  }

  .select-group {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .select {
    flex-direction: column;
    display: flex;
    width: calc(50% - 5px); /* Adjust width to account for the gap between selects */
    margin-bottom: 5px;

  }
  
  label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Select will fill the width of its container */
  }

  select:hover {
    border: 1px solid #a3a3a3;
  }
  
  button {
    position: relative;
    left: 0.5%;
    width: 45%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .button:disabled {
    background-color: #8b8b8b; /* Disabled button color */
    border-radius: 20px;
  }
  
  button:not(:disabled):hover {
    background-color: #0056b3;
    border-radius: 20px;
  }

  #readings-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 10px;
    top: 62%;
    left: 15%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
  }

  .status-panel {
    /* Your existing styles */
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    max-width: 300px;
    margin: 0 auto;
  }

  .status-panel::before { /* Pseudo-element for the horizontal line */
    content: ''; /* Necessary for pseudo-elements */
    position: absolute;
    left: 0;
    right: 0;
    top: 33%; /* Position at 25% of the container's height */
    border-top: 3px solid #8b8b8b; /* The actual line, set the color as needed */
  }
  
  .status-panel dl {
    margin: 0;
    padding: 0;
  }
  
  .status-panel dt {
    /* Set to display inline-block if you want to control the width, 
       or inline if you don't */
    display: inline-block;
    font-weight: bold;
    color: #333;
    margin-right: 5px; /* Adjust the space between the label and value */
    margin-bottom: 3px;
  }

  .status-panel dt i {
    margin-right: 10px; /* Space between the icon and the text */
    width: 20px; /* Ensure all icons are the same width */
    text-align: center; /* Center the icon if it is narrower than the width */
  }
  
  .status-panel dd {
    display: inline; /* This will place the definition directly next to the term */
    margin: 0 0 0 5px; /* Add a small margin for better readability */
    color: #000;
  }

  .navigation-element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.nav-icon {
    font-size: 24px; /* Adjust the size as needed */
    margin-right: 10px;
    /* If you're using actual images, replace the content with your image tags */
}
.select {
  /* margin-bottom: 10px; */
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
select {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    outline: none; /* Optional: removes the default focus outline */
    -webkit-appearance: none; /* Removes default styling on iOS and other WebKit browsers */
    -moz-appearance: none; /* Removes default styling on Firefox */
    appearance: none; /* Modern way to reset the default styling across all browsers */
    width: 200px; /* Adjust width as needed */
    background: url('path_to_your_down_arrow_icon.png') no-repeat right; /* Path to your arrow icon */
    background-size: 12px; /* Adjust size as necessary */
    cursor: pointer; /* Changes the cursor for better UX */
}

.nav-dots {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px; /* Align with the icons above and below */
}

.dot {
    font-size: 24px; /* Adjust the size as needed */
    color: #ccc;
}