<?xml version="1.0"?>
<robot name="camco" xmlns:xacro="http://ros.org/wiki/xacro">
     <!-- Importing xacro elemnets -->
    <xacro:include filename="$(find kobuki_description)/urdf/kobuki.urdf.xacro" />
    <xacro:include filename="$(find turtlebot4_description)/urdf/sensors/rplidar.urdf.xacro" />
    <xacro:kobuki/>

    
</robot>