[Unit]
After=network-online.target
Description=Launch camco launch

[Service]
User=camco
ExecStart=/bin/bash -c 'source /home/camco/camco_ws/install/setup.bash; ros2 launch camco_launch camco.launch.py use_rviz:=false;'
RemainAfterExit=no
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=default.target
